body {
	color: #191919;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 14pt;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 20px;
	background-image: url(image_2/flower_bg.png);
}
#container{
	width: 768px;
	height: auto;
	background-color:#FFFFFF;
	margin: auto;
}

header {
	width: 768px;
	height: 250px;
	background-image: url(image_2/header_flower.png);	
}
	
/*Float the main so it shows up next to the Aside. Reduce width by 150px so they both line the header.*/
	
main {
    background-color: #FFFFFF;
    width: 578px;
    height: 5000px;
    float: left;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
img {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.floatLeft {
	float: left;
}

aside {
	width: 150px;
	height: 5000px;
	background-color: #F9A34A;
	float: left;	
	color: #FFFFFF;
}

p {
    font-family: kigelia-lgc,sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 540px;
	color: #F38B1F;
	padding-bottom: 10px;
	padding-right: 10px;
}

ul, ol, li {
	color: #F38B1F;
}
h3  {
	font-size: 12pt;
	padding: 10px;
}

h2 {
	color: #F58EA0;
	font-family: myriad "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

h1 {
	color: #F58EA0;
	font-family: myriad "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

article {
	margin-bottom: 50px;
}

table {
	background-color: #F1C5CC;
	
}

nav {
	width: 768px;
	height: 50px;
}

#container nav li {
	display: block;
	list-style-type: none;
	float: left;
	width: 60px;
	margin: 12px 60px 0px 0px;
	font-family: goodlife-brush, sans-serif; font-style: normal; font-size: 15pt;
}

#container nav ul {
	margin: auto;
	width: 480px;
}

nav	a:link {
	color: #FDBD77;
	text-decoration: none;
	padding: 8px;
}
nav	a:visited {
	color: #FDDBD9;
	text-decoration: none;
	padding: 8px;
}
nav	a:hover {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #FDBD77;
	border-radius: 20px;
	padding: 8px;
}
nav	a:active {
	color: #F58EA0;
	text-decoration: none;
	padding: 8px;
}
  
.submit_btn {
	width: 150px;
	height: 30px;
	border-radius: 10px;
	background-color: #F48EA0;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 13px;
	-webkit-box-shadow: 6px 6px 40px 1px #323232;
	box-shadow: 6px 6px 40px 1px #323232;
}
.submit_btn:hover {
	-webkit-box-shadow: 6px 6px 35px 1px #000000;
	box-shadow: 6px 6px 35px 1px #000000;
}

footer {
	width: 768px;
	height: 50px;
	background-color: #F58EA0;
	clear: both;
}
